.jmi-menu {
	font-family:Helvetica, Verdana, sans-serif;	
	font-size:12px;	
 	white-space:nowrap;
   }

ul.jmi-menu {
 	background:	#ffffff;
	border-radius: 4px; /*Chrome 6, Opera 10.10 */
	-webkit-border-radius: 4px; /* Chrome et Safari*/
	-moz-border-radius: 4px;
	border:1px solid #666;
	padding: 0;
	margin:0;	
  }

.jmi-menu li { 
	color:#aaaaaa;
	text-decoration:none;
 	list-style: none;
	padding: 0 15px 0 15px;
	margin-bottom:5px;
	margin-top:5px;
	}

.jmi-menu a.jmi-menu-arrow  { 
	background:url(./arrow-right.png) no-repeat center right;
	}

.jmi-menu a.jmi-menu-arrow:hover  { 
	background:url(./arrow-right.png) no-repeat center right;
	}

.jmi-menu li:hover {
	color:#aaaaaa;
	background:#B2DDFF;
	}

.jmi-menu li a { 
	color:#343434;
	text-decoration:none;
 	list-style:none;
 	display:block;
 }
 
.jmi-menu li:hover a {
	color:#343434;
	background:#B2DDFF;
	}

.jmi-menu li a:hover {
	color:#343434;
	}

.jmi-menu ul li:first-child a {
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	-webkit-border-top-left-radius:4px;
	-webkit-border-top-right-radius:4px;
	}

.jmi-menu ul li:last-child a {
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	}


.jmi-menu hr { 
	color:#2D70C1;
	background-color: #666;
	margin: 2px 0 2px 0;
	padding: 0px;
	height:1px;
	border:0;
}

.jmi-breadcrumb {
	font-family:Helvetica, Verdana, sans-serif;	
	font-size:12px;	
 	white-space:nowrap;
 	display:inline;
   }

.jmi-breadcrumb li { 
 	background:url(./arrow-right.png) no-repeat center left;
	display:inline;
 	padding-left: 10px;
 	margin-right: 15px;
}

.jmi-breadcrumb li:hover {
	color:#aaaaaa;
	background:#B2DDFF;
	}

.jmi-breadcrumb li a { 
	color:#343434;
	text-decoration:none;
 	list-style:none;
 }
 
.jmi-breadcrumb li:hover a {
	color:#343434;
	background:#B2DDFF;
	}

.jmi-breadcrumb li a:hover {
	color:#343434;
	}

.jmi-breadcrumb-thumbnail {
	border-style:none;
	padding-top: 1px;
	}

.jmi-breadcrumb-thumbnail img {
	border-style:solid;
	border-width:1px;
	}
