a
{ 
	color:				#1f0f5f; 
	font-family: 		Trebuchet MS, Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	font-weight:		bold; 
	font-size: 			10pt; 
	text-decoration: 	none 
}

a:hover
{
	color:				white; 
	background: 		#1f0f5f; 
	text-decoration: 	none 
}
