body {margin: 0px;}
#top {height: 7%; width:100%; background-color: #cfdfff;}
#menu {float:left; width: 15%; height:93%; background-color: #cfdfff;}
#content {float:left; width: 85%; height:93%; background-color: #7f9fdf;}