<?xml version="1.0" encoding="utf-8"?>
<unitestingsupport:TestApplication
    xmlns:mx="http://www.adobe.com/2006/mxml"
    xmlns:unitestingsupport="org.sonatype.flexmojos.unitestingsupport.*"
    layout="absolute"
    initialize="init()" 
    port="$port"
    controlPort="$controlPort">

$includes

    <mx:Script>
        <![CDATA[
            $imports
            
            // Import flex-mockito lib
            import org.mockito.integrations.flexunit4.MockitoClassRunner;
            
            private var requiredImportForTheIntegrationToWork:MockitoClassRunner;

            private function init():void {
                $testClasses
            }
        ]]>
    </mx:Script>

</unitestingsupport:TestApplication>
