body {
	margin: 0px;
}

#top {
	height: 70px;
	width: 100%;
	background-color: #ffffff;
}

#menu {
	float: left;
	width: 20%;
	height: 100%;
	background-color: #ffffff;
}

#content {
	float: left;
	padding: 20px;
	width: 75%;
	height: 100%;
	background-color: #eeeeee;
}