.texblanc, .bigtexblack, .subTitleBlue, .blueText
{
	font-family: 		Arial, Helvetica, Geneva, Swiss, "SunSans-Regular";
}

h1
{
	font-family: 		"Trebuchet MS", Arial, Helvetica, Geneva, Swiss, "SunSans-Regular";
}

.blueText,.texblanc
{
	font-size: 			9pt;
	text-decoration:	none 
}

.subTitleBlue
{
	font-size: 			10pt;
	font-style: 		italic;
	font-weight:		bold; 
}

.blueText, .subTitleBlue, h1
{
	color:				#1f0f5f
}

.texblanc, body  
{ 
	color: 				#0066CC 
}


input 
{
	font-size: 			x-small; 
	font-family: 		"Arial Narrow", Helvetica, Geneva, Swiss, SunSans-Regular; 
}

.smaller
{
	font-size:			smaller; 
}

h1
{
	font-size:			15pt; 
}

h2
{
	font-size:			12pt; 
	margin-top:			0.3cm;
	margin-bottom:		0.2cm;
}

h1 a
{
	text-decoration:	none;
}

p, li
{
	text-align:			justify;
}

p
{
	margin: 			0px 0px 5px 5px;
}

li
{
	margin-top:			10px;
	text-indent: 		0.5cm;
}


.working, .greenCol	
{ 
	color:				#2f7f1f
}	

a
{ 
	color:				#0066CC; 
	font-family: 		Trebuchet MS, Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	font-weight:		bold; 
	font-size: 			10pt; 
	text-decoration: 	none 
}

a:hover
{
	color:				#FFFFFF; 
	background: 		#1f0f5f; 
	text-decoration: 	none 
}
