html,body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0px 0px 0px 0px;
	margin: 0;
	text-align: left;
	background-color: #FFFFFF;
	font-family: arial;
	font-size: 12px;
}

h1 {
	font-size: 36px;
	font-weight: bold;
	color: #37b0e3;
	margin-bottom: 0px;
}

h2 {
	padding: 10px 0 0 0;
	font-size: 20px;
	font-weight: bold;
	color: #f59c23;
}

h3 {
	padding: 6px 0 0 10px;
	font-size: 16px;
	font-weight: bold;
	color: #bec840;
}

#documentation {
	padding: 0px 40px 20px 40px;
	color: #37b0e3;
}

#documentation a {
	font-weight: bold;
	color: #37b0e3;
}
