html,body {
	height: 100%;
}

body {
	margin: 0;
	padding: 78px 0px 30px 0px;
	text-align: left;
	background-color: #FFFFFF;
	font-family: arial;
	font-size: 12px;
}

div#header {
	width: 100%;
	height: 78px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #FFFFFF;
}

div#footer {
	width: 100%;
	height: 30px;
	position: absolute;
	bottom: 0;
	left: 20;
	background-color: #FFFFFF;
}

div#footer table {
	width: 100%;
	white-space: nowrap;
	padding: 0 20px 0 20px;
}

div#footer {
	text-align: left;
	color: #37b0e3;
	font-size: 14px;
	font-weight: bold;
}

div#footer a {
	color: #37b0e3;
}

@media screen {
	body>div#header {
		position: fixed;
	}
	body>div#footer {
		position: fixed;
	}
}

* html body {
	overflow: hidden;
}

* div#content {
	height: 84%;
	overflow: visible;
}

#bandeau {
	width: 100%;
}

#bandeau td {
	text-align: left;
}

#bandeau #logo {
	width: 260px;
	text-align: center;
	padding-right: 20px;
}

#bandeau .label {
	width: 100%;
	margin: 0px;
	text-align: left;
	color: #37b0e3;
	font-size: 14px;
}

#bandeau .social {
	width: 120px;
	align: left;
}

#bandeau .share {
	color: #37b0e3;
	font-size: 14px;
	font-weight: bold;
}

#bandeau #message {
	width: 180px;
	padding-left: 4px;
	margin: 0;
	text-align: left;
	color: #f59c23;
	font-size: 14px;
	font-weight: bold;
}

#bandeau #doc a {
	width: 180px;
	padding-left: 4px;
	margin: 0;
	text-align: left;
	color: #37b0e3;
	font-size: 12px;
	font-weight: bold;
}

#bandeau .hidden-message {
	text-align: left;
	color: #ffffff;
	font-size: 12px;
}

.slogan {
	padding-top: 20px;
	padding-left: 284px;
	text-align: left;
	color: #37b0e3;
	font-size: 18px;
}

#flashContent {
	display: none;
}

object:focus {
	outline: none;
}

div#last-feeds {
	padding-top: 20px;
	padding-left: 15px;
	text-align: left;
	color: #f59c23;
	font-size: 18px;
    width: 940px;
    margin-left:auto;
    margin-right:auto;
}

div#last-feeds a {
	color: #f59c23;
}

span#last-feed-cloud {
	padding-left: 50px;
	text-align: left;
	color: #f59c23;
	font-size: 18px;
}

span#last-feed-cloud a {
	color: #37b0e3;
}

div#top-feeds {
	padding-top: 20px;
	padding-left: 284px;
	text-align: left;
	color: #f59c23;
	font-size: 18px;
}

div#top-feeds a {
	color: #f59c23;
}

div#top-feeds-cloud {
	text-align: center;
	color: #f59c23;
	width: 100%;
}

div#top-feeds-cloud a {
	color: #37b0e3;
	white-space: nowrap;
	padding: 0px 20px 0px 20px;
}


h1 {
	font-size: 36px;
	font-weight: bold;
	color: #37b0e3;
	margin-bottom: 0px;
}

h2 {
	padding: 10px 0 0 0;
	font-size: 20px;
	font-weight: bold;
	color: #f59c23;
}

h3 {
	padding: 6px 0 0 10px;
	font-size: 16px;
	font-weight: bold;
	color: #bec840;
}

#integrate {
	padding: 20px 40px 20px 40px;
	font-size: 14px;
	text-align: top;
	align: top;
}

#integrate #formulaire {
	padding: 0px 40px 20px 20px;
}

#integrate #preview {
	padding: 0px 40px 20px 20px;
}

#integrate #code {
	padding: 0px 40px 20px 20px;
}

.grid {
    overflow: hidden;
    padding: 0 0 15px 15px;
    width: 940px;
    margin-left:auto;
    margin-right:auto;
 }

.vignette {
    background-color: #ffffff;
    border: 2px solid #37b0e3;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 3px 3px 10px rgba(50, 50, 50, 0.48);
    float: left;
    height: 160px;
    margin: 5px;
    position: relative;
    text-align: center;
    width: 160px;
    padding-top: 5px;
    padding-bottom: 20px;
}

.vignette:hover {
	border:2px solid #f59c23;
	color: #f59c23;
}

.vignette:hover a {
	color: #f59c23;
}

.thumbnail-title, .thumbnail-title a {
    padding-top: 15px;
	color: #37b0e3;
}

.vignette .play {
	background:url('./images/play.png');
	position:absolute;
	top:80px;
	right:14px;
	width:22px;
	height:24px;
}

#play {background-color:#000; text-align:center;border-bottom:3px solid #BFBFBF;padding-top:10px;}

.vignette *, .pagination * {cursor:pointer;}

.pagination {
    overflow: hidden;
	height:36px;
    width: 940px;
    margin-left:auto;
    margin-right:auto;
    padding-left: 110px;
}
.pagination ul{float:left;margin:0;padding:0;border:1px solid #ddd;border:1px solid rgba(0, 0, 0, 0.15);-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);}
.pagination li{display:inline;}
.pagination ul {list-style:none;margin-left:0;}
.pagination a{color: #37b0e3;float:left;padding:0 14px;line-height:34px;border-right:1px solid;border-right-color:#ddd;border-right-color:rgba(0, 0, 0, 0.15);*border-right-color:#ddd;text-decoration:none;}
.pagination a:hover,.pagination .active a{background-color:#c7eefe;}
.pagination .disabled a,.pagination .disabled a:hover{background-color:transparent;color:#bfbfbf;}
.pagination .next a{border:0;}
.pagination a:hover, .pagination .active a {background-color:#eee;}
